*.suo
*.obj
*.exe
*.user
*bin*
*obj*
*.config

/ddohook/*.sdf
/ddohook/*.suo
/ddohook/*.filters
/ddohook/*.user
/ddohook/*.opensdf
ipch
*.tlog
*.ilk
*.exp
*.pdb
*.idb
/ddohook/Debug/nativeddohook.dll.embed.manifest
/ddohook/Debug/nativeddohook.dll.embed.manifest.res
/ddohook/Debug/nativeddohook.dll.intermediate.manifest
/ddohook/Debug/nativeddohook.ilk
/ddohook/Debug/nativeddohook.lastbuildstate
/ddohook/Debug/nativeddohook.lib
/ddohook/Debug/nativeddohook_manifest.rc
/ddohook/Release/nativeddohook.dll
/ddohook/Release/nativeddohook.dll.intermediate.manifest
/ddohook/Release/nativeddohook.exp
/ddohook/Release/nativeddohook.lastbuildstate
/ddohook/Release/nativeddohook.lib

